fastapi
starlette
plotly
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
jinja2
pydantic
sqlacodegen
python-jose
pydantic[email]
python-dateutil
requests
python-multipart
pytest
passlib==1.7.4
bcrypt==4.1.2